fastapi
pydantic
uvicorn
flask
jinja2
flask-cors
python-docx
docx2txt
PyPDF2
chardet
langid
tensorflow
requests
transformers
tf-keras
sentencepiece
fpdf
torch
google-generativeai
mysql-connector-python
python-multipart
passlib
gunicorn
