fastapi
pydantic
uvicorn
flask
jinja2
flask-cors
python-docx
docx2txt
PyPDF2
chardet
langid
tensorflow
requests
transformers
tf-keras
sentencepiece
fpdf
torch
google-generativeai
mysql-connector-python
python-multipart
passlib
gunicorn
gunicorn
uvicorn==0.30.1
fastapi==0.111.0
nltk==3.8.1
seaborn==0.13.2
numpy==1.26.4
pandas==2.2.2
streamlit==1.31.1
matplotlib==3.9.1
plotly==5.22.0
azure-storage-blob
scipy==1.14.0
scikit-learn==1.5.1
wordcloud==1.9.3
mysql-connector-python==8.3.0
SQLAlchemy==2.0.31
chardet==5.2.0
pydantic==2.8.0
aiohttp==3.9.5
aiosignal==1.3.1
altair==5.3.0
annotated-types==0.7.0
anyio==4.4.0
appdirs==1.4.4
arrow==1.3.0
astor==0.8.1
asttokens==2.4.1
attrs==23.2.0
backoff==2.2.1
blinker==1.8.2
cachetools==5.3.3
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comm==0.2.2
contourpy==1.2.1
cycler==0.12.1
dataclasses-json==0.6.7
dateutils==0.6.12
decorator==5.1.1
distro==1.9.0
dnspython==2.6.1
duckdb==1.0.0
email_validator==2.2.0
et-xmlfile==1.1.0
executing==2.0.1
faiss-cpu==1.8.0.post1
fastapi-cli==0.0.4
fonttools==4.53.1
frozenlist==1.4.1
gitdb==4.0.11
GitPython==3.1.43
greenlet==3.0.3
groq==0.4.2
gw_dsl_parser==0.1.49
h11==0.14.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
idna==3.7
importlib_metadata==7.2.1
importlib_resources==6.4.0
ipylab==1.0.0
ipython==8.26.0
ipywidgets==8.1.3
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyterlab_widgets==3.0.11
kanaries_track==0.0.5
kiwisolver==1.4.5
langchain
langchain-community
langchain-openai==0.1.13
langchain-text-splitters==0.2.2
langsmith==0.1.83
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.3
matplotlib-inline==0.1.7
mdurl==0.1.2
monotonic==1.6
multidict==6.0.5
mypy-extensions==1.0.0
openai==1.35.7
openpyxl==3.1.5
orjson==3.10.5
packaging==23.2
parso==0.8.4
pillow==10.4.0
prompt_toolkit==3.0.47
protobuf==4.25.3
psutil==6.0.0
pure-eval==0.2.2
pyarrow==16.1.0
pydantic_core==2.20.0
pydeck==0.9.1
Pygments==2.18.0
pygwalker==0.4.9.1
PyMySQL==1.1.1
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.9
pytz==2024.1
PyYAML==6.0.1
referencing==0.35.1
regex==2024.5.15
requests==2.32.3
rich==13.7.1
rpds-py==0.18.1
segment-analytics-python==2.2.3
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sqlglot==25.5.1
stack-data==0.6.3
starlette==0.37.2
tenacity==8.4.2
threadpoolctl==3.5.0
tiktoken==0.7.0
toml==0.10.2
toolz==0.12.1
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
typer==0.12.3
types-python-dateutil==2.9.0.20240316
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
ujson==5.10.0
urllib3==2.2.2
validators==0.29.0
wasmtime==22.0.0
watchdog==4.0.1
watchfiles==0.22.0
wcwidth==0.2.13
websockets==12.0
widgetsnbextension==4.0.11
yarl==1.9.4
zipp==3.19.2
