fastapi
pydantic
uvicorn
flask
flask-cors
docx
docx2txt
PyPDF2
chardet
langid
requests
torch
transformers
fpdf
google-generativeai
fastapi
uvicorn
mysql-connector-python
pydantic
passlib
